[Desktop Entry]
Exec=pkexec /usr/bin/jremed
Icon=/opt/jremed/lxmed.png
Type=Application
Terminal=false
Name=JRE Menu Editor
GenericName=Main Menu Editor
StartupNotify=false
Categories=Settings;
